.home {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* Center text */
    background-color: #f1f1f1; /* Optional: change background color */
  }
  
  .logo {
    width: 10rem; /* Adjust logo size */
    height: auto;
    margin: 20px 0 20px 0;
  }
  
  .cover {
    width: 80%; /* Make the cover image full width */
    height: auto;
    object-fit: cover; /* Ensure the image covers the space properly */
    margin: 10px 0 0 0; /* Space between cover image and text */
    border-radius: 5px;
  }
  
  .video {
    width: 100%; /* Make the cover image full width */
    height: auto;
    max-height: 540px; /* Limit the height to a max value */
    object-fit: cover; /* Ensure the image covers the space properly */
    margin: 10px 0 0 0;
}

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem; /* Space below the heading */
    color: #09343d; /* Customize color as needed */
  }
  
  p {
    font-size: 1.2rem;
    color: #387fa5; /* Customize color as needed */
  }
  

/* Smaller logo on mobile screens */
@media (max-width: 786px) {

  }

  
/* Smaller logo on mobile screens */
@media (max-width: 480px) {

  }